<div class='container sidebar'></div>

<div class='container content'></div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    App.initialize($('.sidebar'), $('.content'));
  })
</script>
